<ion-view view-title="Add New Investment">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <input type="number" placeholder="Amount Invested" ng-model="investment.amount">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Description" ng-model="investment.description">
      </label>
      <label class="item item-input">
        <input type="date" placeholder="Date" ng-model="investment.date">
      </label>
    </div>
    <a class="button button-full button-positive" ng-click="save(investment)" href="#/tab/investors/{{investor.id}}">
      Save
    </a>
  </ion-content>
</ion-view>
