<ion-view view-title="Add New Investment">
  <ion-nav-buttons side="secondary">
    <a class="button button-clear button-positive" href="#/tab/investors">Investors</a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Select Investor
        </div>
        <select ng-model="investment.investor" ng-options="investor as investor.name for investor in investors track by investor.name"></select>
      </label>
      <label class="item item-input">
        <input type="number" placeholder="Amount Invested" ng-model="investment.amount">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Description" ng-model="investment.description">
      </label>
    </div>
    <a class="button button-full button-positive" ng-click="save(investment)" href="#/tab/investments">
      Save
    </a>
  </ion-content>
</ion-view>
