<ion-view cache-view="false" view-title="Investors">
  <ion-nav-buttons side="primary">
    <a class="button button-clear button-positive" ng-click="logout()">Logout</a>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <a class="button button-clear button-positive" href="#/tab/investors/new">Add</a>
  </ion-nav-buttons>
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Total Summary
      </div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">Invested: {{ total_investment }}</div>
          <div class="col"><a href="#/tab/investments">Balance:</a> {{ total_investment + total_profit - total_expense + total_payments }}</div>
        </div>
        <div class="row">
          <div class="col">Expense: {{ total_expense }}</div>
          <div class="col">Profit: {{ total_profit }}</div>
        </div>
      </div>
    </div>
    <ion-list>
      <ion-item class="item item-remove-animate item-icon-right" ng-repeat="investor in investors" type="item-text-wrap" href="#/tab/investors/{{investor.id}}">
        <h2>{{investor.id}} : {{ investor.name }}</h2>
        <p>Total investment: {{ total_investment_for(investor) }}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="ion-minus-circled" ng-click="remove(investor)"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
