<ion-view cache-view="false" view-title="Contracts">
  <ion-nav-buttons side="secondary">
    <a class="button button-clear button-positive" href="#/tab/contracts/new">Add</a>
  </ion-nav-buttons>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">Total Expense: {{ total_expense }}</div>
          <div class="col">Total Tender Amount: {{ total_tender }}</div>
        </div>
      </div>
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="contract in contracts" type="item-text-wrap" href="#/tab/contracts/{{contract.id}}">
        <h2>{{contract.name}}</h2>
        <p>{{contract.description}}</p>
        <p>Date: {{contract.date | date: 'dd MMM yyyy'}}</p>
        <p>Tender Amount: {{contract.tender_amount}}</p>
        <p>Expense Amount: {{ total_expense_for(contract.id) }}</p>
        <p ng-show="contract.bill_amount">Bill Amount: {{contract.bill_amount}}</p>
        <p ng-show="contract.profit_amount">Profit Amount: {{contract.profit_amount}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
