<ion-view cache-view="false" view-title="Investments">
  <ion-nav-buttons side="secondary">
    <a class="button button-clear button-positive" href="#/tab/investments/new">Add</a>
  </ion-nav-buttons>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">Total Investment: {{ total_investment }}</div>
          <div ng-repeat="investor in investors" class="col">{{investor.name}}: {{ investor.amount_invested }}</div>
        </div>
      </div>
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="investment in investments" type="item-text-wrap">
        <h2>Name: {{investment.investor.name}}</h2>
        <p>Amount: {{investment.amount}}</p>
        <p>Date: {{investment.date | date: 'dd MMM yyyy'}}</p>
        <p>{{investment.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
