<ion-view view-title="History">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="entry in enteries | orderBy:'-date'" type="item-text-wrap">
        <h2 ng-show="entry.investor_id">Name: {{ entry.investor_name }}</h2>
        <h2 ng-hide="entry.contract_id || entry.investor_id">From Profit</h2>
        <h2 ng-show="entry.contract_id">Contract Expense: {{ entry.contract_name }}</h2>
        <p>Amount: {{ entry.amount }}</p>
        <p>Date: {{ entry.date | date: 'dd MMM yyyy' }}</p>
        <p>{{ entry.description }}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
