<ion-view cache-view="false" view-title="{{title}}">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="investment in investments | filter: filterBy | orderBy:'date'" type="item-text-wrap">
        <h2>Name: {{investment.investor ? investment.investor.name : investment.is_profit ? "Profit" : "Expense"}}</h2>
        <p>Amount: {{investment.amount}}</p>
        <p>Date: {{investment.date | date: 'dd MMM yyyy'}}</p>
        <p>{{investment.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
